# Ignore build artifacts
/build/
/dist/

# Ignore node modules
/node_modules/

# Ignore temporary files
*.tmp
*.log

# Ignore IDE-specific files (e.g., for VS Code)
.vscode/

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local